/* Bootstrap Edits */
.alert {
  margin-bottom: 0;
  position: fixed;
  z-index: 16000;
  display: none;
  width: 100%;
  top: 52px; }

.container-fluid {
  padding-left: 0;
  padding-right: 0; }

.navbar-brand {
  padding-left: 20px;
  padding-top: 5px; }

.navbar-toggle {
  background: #FFF8E8;
  margin-top: 5px;
  margin-right: 0; }
  .navbar-toggle:hover {
    background-color: #ffe8b5; }

.row {
  width: 100%;
  margin: 0; }

header {
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%; }
  @media (max-width: 767px) {
    header {
      position: fixed; }
      header nav.navbar {
        margin-bottom: 0; }
      header nav .navbar-header {
        width: 100%; }
      header nav.navbar-default {
        background-color: transparent;
        border: none; }
        header nav.navbar-default .navbar-collapse {
          background-color: #394558;
          border: none;
          margin-right: 0px;
          margin-left: 0px;
          position: fixed;
          width: 100%;
          top: auto;
          left: auto;
          z-index: 3000; }
          header nav.navbar-default .navbar-collapse ul {
            margin-top: 0;
            margin-bottom: 0; }
            header nav.navbar-default .navbar-collapse ul li {
              text-align: center;
              font-size: 24px;
              border-top: #7D1935 1px solid;
              border-bottom: #7D1935 1px solid; }
              header nav.navbar-default .navbar-collapse ul li:last-child {
                border-bottom: #7D1935 2px solid; }
              header nav.navbar-default .navbar-collapse ul li:hover {
                background-color: #4d5d77; }
              header nav.navbar-default .navbar-collapse ul li a {
                color: #FFF8E8; }
                header nav.navbar-default .navbar-collapse ul li a:hover {
                  color: #FFF8E8; } }
  @media (min-width: 768px) {
    header {
      position: absolute; }
      header nav.navbar-default {
        background-color: transparent;
        border: none; }
        header nav.navbar-default .navbar-collapse {
          background-color: transparent;
          border: none; }
          header nav.navbar-default .navbar-collapse ul {
            margin-top: 0;
            margin-bottom: 0; }
            header nav.navbar-default .navbar-collapse ul li:hover {
              background-color: transparent; }
            header nav.navbar-default .navbar-collapse ul li a {
              background-color: #FFF8E8;
              border-radius: 5px;
              margin-top: 5px;
              margin-right: 5px;
              padding: 10px;
              color: #394558; }
              header nav.navbar-default .navbar-collapse ul li a:hover {
                background-color: #ffe8b5; }
              header nav.navbar-default .navbar-collapse ul li a.blogLink {
                background-color: #BFACAA; }
                header nav.navbar-default .navbar-collapse ul li a.blogLink:hover {
                  background-color: #a9908d; } }

/* Main site style */
body, html {
  height: 100%;
  background: #FFF8E8;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif; }

body > div {
  min-height: 100%;
  position: relative; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #BFACAA;
  border-top: #b49e9b solid 3px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.56); }

form {
  margin-top: 10px; }

h2 {
  margin-top: 10px;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif; }

label {
  font-weight: normal; }

#main {
  background-color: #7D1935; }
  @media (min-width: 768px) {
    #main {
      background-image: url("../images/template/siteHeader.png");
      background-size: 100% 130px;
      height: 130px;
      background-color: transparent; } }

#pictureChanger {
  margin-top: 5px;
  position: relative; }
  #pictureChanger img {
    width: 100%;
    border: 20px solid white;
    box-shadow: 0 0 10px #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12000; }
    #pictureChanger img.active {
      z-index: 12001; }
  #pictureChanger #image1 {
    transform: rotate(0deg); }
  #pictureChanger #image2 {
    transform: rotate(3deg); }

#workHolder {
  margin-top: 60px;
  position: relative; }
  #workHolder div {
    display: none;
    font-family: 'Share Tech', sans-serif;
    z-index: 2000;
    position: absolute;
    top: 0;
    left: 0; }
    #workHolder div a {
      color: #FFF8E8; }
    #workHolder div img {
      width: 100%; }
    #workHolder div h1 {
      color: #FFF8E8;
      display: block;
      position: absolute;
      left: 50%;
      top: 15px;
      transform: translateX(-30%);
      font-size: 3em;
      z-index: 5000; }
      #workHolder div h1.nomid {
        left: 70%;
        transform: translateX(0%); }
    #workHolder div h3 {
      color: #FFF8E8;
      position: absolute;
      top: 70px;
      left: 50px;
      width: 70%;
      font-size: 1.2em; }
      #workHolder div h3:nth-child(3) {
        top: 120px; }
    #workHolder div.active {
      display: block;
      z-index: 3000; }

#workSelector {
  text-align: center;
  position: relative; }
  #workSelector > div > div {
    height: 170px;
    background-color: #394558;
    line-height: 170px;
    border-top: 3px solid #02020A;
    border-right: 1px solid #02020A;
    border-left: 1px solid #02020A;
    border-bottom: 3px solid #02020A;
    color: #FFF8E8;
    font-size: 1.7em;
    cursor: pointer; }

.aboutMeLinks {
  margin-bottom: 10px;
  text-align: center; }

.body {
  max-width: 970px;
  padding-bottom: 60px; }
  @media (max-width: 767px) {
    .body {
      padding-top: 52px; } }

.contactButton {
  background-color: #394558;
  color: #FFF8E8;
  text-align: center;
  margin: 0 auto 10px;
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
  width: 100%; }
  .contactButton:hover {
    text-decoration: underline;
    color: #FFF8E8;
    background-color: #4d5d77; }

.desktop {
  margin-top: 110px; }

.expand {
  background-color: #7D1935;
  color: #FFF8E8;
  text-align: center;
  border-top: #394558 solid 1px;
  padding: 10px 5px;
  cursor: pointer; }

.img-me {
  margin: 10px;
  float: right;
  display: block;
  width: 143px;
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.5); }

.listMe li {
  margin-bottom: 20px; }

/* Phone specific code */
.contactPhone label {
  margin: 0; }

.phoneAbout p {
  margin-left: 10px; }

.phoneAbout ul {
  padding-left: 25px; }
  .phoneAbout ul li {
    margin-bottom: 10px; }

.workExample {
  position: relative; }
